<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>w h e r e s   t h e   m o n e y    l e b o w s k i</string>
	<string>s i c k o   m o d e</string>
	<string>w a t e r   b o t t l e</string>
	<string>g o    b e a r s</string>
	<string>d a d d y   d e n e r o</string>
	<string>r e f r i g e r a t i n g   a   m i c r o w a v e</string>
	<string>a p p l e  s a u c e</string>
</array>
</plist>
